body{
    background-color: #2a2a2a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: rgb(255, 255, 255);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    background-color: rgb(70, 70, 70);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 5px 0px rgb(255, 255, 255);
    padding: 20px;
    width: 250px;
    height: 150px;

}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}