body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}
#warning{
    background-color: rgb(194, 194, 194);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: red;
    font-weight: bold;
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 600px;
}
#result{
    background-color: rgb(194, 194, 194);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 660px;
}
.container {
    display: flex;
    justify-content: center;
}
section{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
}
img {
    max-width: 250px;
    height: auto;
    border-radius: 8px;
}