body{
    background-color: #1e1e1e;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}
#warning{
    background: #2c2c2c;
    border: 2px solid;
    border-top-color: #666;
    border-left-color: #666;
    border-bottom-color: #111;
    border-right-color: #111;
    color: red;
    font-weight: bold;
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 600px;
}
#result{
    background: #2c2c2c;
    border: 2px solid;
    border-top-color: #666;
    border-left-color: #666;
    border-bottom-color: #111;
    border-right-color: #111;
    color: #ffffff;
    font-weight: bold;
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 660px;
}
.container {
    display: flex;
    justify-content: center;
}
section{
    background: #2c2c2c;
    border: 2px solid;
    border-top-color: #666;
    border-left-color: #666;
    border-bottom-color: #111;
    border-right-color: #111;
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    width: 300px;
}
img{
    max-width: 250px;
    height: auto;
    border-radius: 8px;
}
button{
    background: linear-gradient(90deg, #5a1fcc, #7b2fff);
    color: #ffffff;
}