body{
    text-align:center;
    background-image: url("../img/img.jpg");
    background-size: cover;
}

header{
    font-size: 2rem;
    color:rgb(0, 0, 0);
    background-color:rgba(233, 233, 233, 0.8);
    padding:20px;
    margin-bottom:15px;
}

#playerGuess {
    font-size: 1.4rem;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

#guessBtn {
    font-size: 1.2rem;
    width: 150;
    height: 35px;
    border-radius: 10px;
}

#resetBtn {
    margin-top: 15px;
    font-size: 1.2rem;
    width: 150;
    height: 35px;
    border-radius: 10px;
}

#main {
    background-color:rgba(227, 227, 227, 0.8);
    font-size: 1.5rem;    
    padding: 20px;
}

#feedback {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.833);
    margin: 10px;
    font-weight:bold;
}