body{
    text-align: center;
    background-image: url("pics/img.jpg");
    color: black;
    margin: 0 auto;
}
#header{
    font-size: 1.6rem;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.49);
}
#content{
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.49);
    padding: 20px;
}
#userGuess{
    font-size: 1.4rem;
    width: 150px;
    height: 45px;
    border-radius: 10px;
}
#guessBtn{
    font-size: 1.5rem;
    width: 150;
    height: 50px;
    border-radius: 10px;
}
#guessResult{
    background-color: white;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
}